header {
	background: #333;
	color: white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300; 
}
nav {

    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    cursor: pointer;

}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	nav ul li {
	display: inline-block;
	line-height: 80px;

	}
			
	nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
    color: aquamarine;
	}
			
	nav ul li a:hover {
	background: #68b3d6;
	}
    
    body{
    display: flex;
    justify-content: center;

}
.container{
/* position: absolute; */
    z-index: 1;
}

body{
    background: rgb(172, 160, 160);
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.footer-section{
    background-color: rgb(77, 61, 216);
    bottom: 0;
    position: absolute;
    width: 100%;

}
h5{
    color: brown;

}
